.medisync__feedback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 40px 80px;
    font-family: var(--font-family);
}

.medisync__feedback h1 {
    padding: 40px 0 15px 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #1B1A1A;
}

.medisync__feedback_client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #DADADA;
    margin: 0 200px 50px 200px;
    box-shadow: 0px 18.1889px 36.3778px rgba(190, 190, 190, 0.2);
}

.medisync__feedback_client p {
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #1B1A1A;
    padding: 40px 40px 10px 40px;
}

.medisync__feedback_client-Name {
    padding-bottom: 30px;
}

.medisync__feedback_client-Name h1 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

@media screen and (max-width: 1050px) {
    .medisync__feedback_client {
        margin: 0 4rem;
    }

    .medisync__feedback {
        padding: 4rem 6rem;
    }
}

@media screen and (max-width: 650px) {
    .medisync__feedback_client {
        margin: 0 0.5rem;
    }

    .medisync__feedback {
        padding: 4rem 4rem;
    }
}

@media screen and (max-width: 490px) {
    .medisync__feedback {
        padding: 40px 20px;
    }

    .medisync__feedback h1 {
        font-size: 28px;
    }

    .medisync__feedback_client h1 {
        font-size: 18px;
    }

    .medisync__feedback_client p{
        font-size: 16px;
        line-height: 22px;
    }

    .medisync__feedback_client-Name h1 {
        font-size: 18px;
    }
    
    .medisync__feedback_client-Name p {
        font-size: 18px;
        padding: 0;
    }
    
}