.medisync__whyus {
    padding: 60px 0;
    font-family: var(--font-family);
}

.medisync__whyus h1 {
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
    color: #1B1A1A;
}

.medisync__whyus p {
    margin: 0 auto;
    max-width: 450px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 20px 0;
    color: #656462;
}

.medisync__whyus-tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0 50px 0;
}

.medisync__whyus-tabs_tab {
    box-sizing: border-box;
    padding: 15px 30px;
    width: 336px;
    height: 325px;
    margin: 10px 0;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(190, 190, 190, 0.2);
    border-radius: 10px;
}

.medisync__whyus-tabs_tab-image {
    height: 160px;
}

.medisync__whyus-tabs_tab h1 {
    font-weight: 700;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    color: #1B1A1A;
}

.medisync__whyus-tabs_tab p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #656462;
    padding: 1rem 0 0 0;
}

@media screen and (max-width: 1050px) {
    .medisync__whyus-tabs {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    .medisync__whyus h1 {
        font-size: 30px;
    }
    
    .medisync__whyus p {
        font-size: 16px;
        padding: 0 30px;
    }

    .medisync__whyus-tabs_tab h1 {
        font-weight: 700;
        text-align: left;
        font-size: 19px;
        line-height: 28px;
        color: #1B1A1A;
    }
    
    .medisync__whyus-tabs_tab p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        color: #656462;
        padding: 1rem 0 0 0;
    }
}