body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.medisync__welcomepage {
    background: #F1E6F8;
    padding: 40px;
    font-family: var(--font-family);
}

.medisync__welcomepage-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.medisync__welcomepage-body_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 80px;
}

.medisync__welcomepage-body_text h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    margin: 0;
    letter-spacing: -0.02em;
    color: #7209B7;
    text-align: center;
}

.medisync__welcomepage-body_text h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 70px;
    margin: 0;
    text-align: center;
    color: #4d4d4d;
}

.medisync__welcomepage-body_text p {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    line-height: 32px;
    padding-bottom: 40px;
    text-align: center;
    color: #6b6b6b;
}

.medisync__welcomepage-body_text button {
    padding: 12px 55px;
    margin: 0 auto;
    background: #8A33C3;
    border: none;
    outline: none;
    box-shadow: 0px 2px 4px rgba(190, 190, 190, 0.2);
    border-radius: 8px;

    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.medisync__welcomepage-body_image {
    min-width: 50%;
}

.medisync__welcomepage-body_image img {
    max-width: 100%;
}

@media screen and (max-width: 1050px) {
    .medisync__welcomepage-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
    }

    .medisync__welcomepage-body_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 80px;
    }

    .medisync__welcomepage-body_image img {
        border-radius: 20px;
    }
}

@media screen and (max-width: 550px) {
    .medisync__welcomepage {
        padding: 10px;
    }

    .medisync__welcomepage-body_text h1 {
        font-size: 24px;
        line-height: 40px;
    }
    
    .medisync__welcomepage-body_text h2 {
        font-size: 18px;
        line-height: 60px;
    }
    
    .medisync__welcomepage-body_text p {
        font-size: 12px;
        padding-bottom: 20px;
        line-height: 20px;
    }
    
    .medisync__welcomepage-body_text button {
        padding: 10px 55px;
        font-size: 14px;
    }

    .medisync__welcomepage-body_text {
        padding: 30px 40px;
    }

    
    
}