.medisync__feature {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 40px;
    padding: 21px 0;
    font-family: var(--font-family);
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 16px 32px rgba(190, 190, 190, 0.2);
}

.medisync__feature-privacy {
    display: flex;
    align-items: center;
}

.medisync__feature-image img{
    width: 70px;
    padding-right: 10px;
}

.medisync__feature-text h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
    color: #460570;
}

.medisync__feature-text p {
    font-weight: 400;
    font-size: 16px;
    color: #656462;
}

@media screen and (max-width: 1050px) {
    .medisync__feature {
        flex-direction: column;
        padding: 30px;
        margin: 20px 40px;
    }

    .medisync__feature-privacy {
        padding: 10px;
    }
}

@media screen and (max-width: 700px) {
    .medisync__feature {
        margin: 30px 0;
        padding: 20px;
    }

    .medisync__feature-text h1 {
        font-size: 16px;
    }
    
    .medisync__feature-text p {
        font-size: 12px;
    }
}